[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycine = {editable = true, path = "."}
colorama = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"

[scripts]
build = "pyinstaller pycine/cli/pfs_meta.py --onefile"
buildraw = "pyinstaller pycine/cli/cineraw.py --onefile"
